<% semantic_form_for @bok do |form| %>
  <%= form.buttons %>
  <%= form.inputs %>
<fieldset>
  <ol><li>
      <label>Format</label>
      <%= select_tag "format", options_for_select([ "html", "json", "js" ], "html") %>
    </li></ol>
</fieldset>
<% end %>