@import "variables";

.bk-Document {
    width: 100%;
    margin: 1em 0;
}

.bk-Document .Page {
    width: 97%;
    margin-right: 3%;
    min-height: 800px;
    border: 1px solid gray;
    background-color: white;
    font-family: "Garamon", serif;
    padding: 1em 0;
}

.bk-Document .Page .Content{
    width: 100%;
    margin: 20px 0;
    overflow: hidden;
}

.bk-Document .title {
    text-align: center;
    font-size: 150%;
}

.bk-Document .description {
    text-align: center;
    font-style: italic;
}



.bk-ContentTypeList {
    width: 100%;
    overflow: hidden;
}

.bk-ContentTypeList .contentType {
    .action;
}

.bk-DocInfoViewer {
    margin-bottom: 1em;
}


/** CLIPS **/
.bk-Bok {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin: 2px 0;
    padding: 4px 0;
}

.bk-Bok.active {
    padding: 0;
}

.bk-Bok .body {
      width: 80%; margin: 1px auto;
      overflow: hidden;
}

.bk-Bok .slot {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 4px;
    background-color: @azulclaro;
}
.bk-Bok a.slot:hover {background-color: @azul;}

div.bk-Bok.editor:hover {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.bk-ClipActions {
    margin-top: 2px;
    padding: 3px 20px;
    font-size: @font-small;
    background-color: @azulclaro;
    .container;
}

.bk-ClipActions a {
    .action;
}



.bk-ClipEditor {
    padding: 10px;
    margin: 10px 10%;
    background-color: @azulclaro;
    border: 1px solid @azul;
    font-family: @sans;
}

.bk-ClipEditor .gwt-RichTextArea {
    width: 100%;
    background-color: white;
    border: 0px solid white;
}

.bk-ClipEditor label { display: block; margin-top: 3px; font-size: @font-small;}

.bk-ClipEditor .actions {
    padding-top: 10px;
    font-size: @font-small;
    .container;
}

.bk-ClipEditor .actions a {
    .action;
}

/** CONTENT **/
.bk-Bok .body .Document {text-align: center;}
.bk-Bok .body .Document h1 {font-size: 150%;}
.bk-Bok .body .Document p {font-style: italic;}