a {
	text-decoration: none;
}

a:hover {
	text-decoration: unerline;
}

/** GENERAL **/
.container {
	width: 100%;
	overflow: hidden;
}

.editable-active {
	background-color: #E1EBEF; /** azul claro **/
	border-top: 1px solid #00AEEF;
	border-bottom: 1px solid #00AEEF;
}

a.action {
	cursor: pointer;
	padding: 0.2em 1em;
	margin: 1px 0 0 3px;
	color: white;
	background-color: #00AEEF; /* azul */
	color: white;
	font-family: sans;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
}

a.action:hover {
	text-decoration: underline;
	color: black;
}

.hover-blue {
	-moz-border-radius: 1em;
    -webkit-border-radius: 1em;
	color: blue;
}

a.hover-blue:hover {
	background-color: #E1EBEF; /** azul claro **/
}

a.hover-gray:hover {
	background-color: #EFEFEF;
}